<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Welcome</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>

<div class="padding-30">
  <p id="notice"><%= notice %></p>
  <h1>Users ðŸ•´</h1> 
  <div class="margin-top-30">
    <%= form_tag(users_path, method: :get) do |form| %>
      <div class="input-group mb-3">
        <%= text_field_tag (:key), params[:key], class: "form-control", placeholder: "Email..." %>
        <div class="input-group-append">
          <%= submit_tag ("Search ðŸ” "), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
                <%= link_to 'Show', user, :class => 'btn btn-outline-primary' %>
                <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-outline-primary' %>
                <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users, theme: 'twitter-bootstrap-3' %>
  </div>
  <%= link_to 'New User', new_user_path, :class => 'btn btn-primary btn-sm' %>
</div>