<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Users', users_path %></li>
        <li class="breadcrumb-item active" aria-current="page">User detail</li>
    </ol>
</nav>

<div class="padding-30">
  <p class="padding-bottom-15">
      <%= link_to 'Edit user 🔧', edit_user_path(@user) %>
  </p>

  <p id="notice"><%= notice %></p>
  <p>
    <strong>Id:</strong>
    <%= @user.id %>
  </p>


  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <br>

  <h3>
    Microposts
  </h3>

  <table class="table">
      <thead>
        <tr>
          <th>Content</th>
          <th>User</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @selected_microposts.each do |micropost| %>
          <tr>
            <td><%= micropost.content %></td>
            <td><%= micropost.user_id %></td>
            <td>
              <%= link_to 'Show', micropost, :class => 'btn btn-outline-success' %>
              <%= link_to 'Edit', edit_micropost_path(micropost), :class => 'btn btn-outline-success' %>
              <%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>