<div class="padding-30">
  <h2>Hello visitors! ðŸŒ»</h2>
  <p class="padding-top-5 padding-bottom-5">
    ðŸ•° The time is now: <%= Time.now %>
  </p>
  <p class="padding-top-5 padding-bottom-5">
    You can click on button to see all <strong>Users</strong>:
    <%= link_to 'I want to see all users ', users_path, :class => 'btn btn-primary btn-sm' %>
  </p>
  <p class="padding-top-5 padding-bottom-5">
    Or You can click on this button to see all <strong>Microposts</strong>:
    <%= link_to 'I want to see all microposts', microposts_path, :class => 'btn btn-success btn-sm' %>
  </p>
   <% if user_signed_in? %>
      <%= link_to('ðŸšª Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary") %>   
    <% else %>     
      <%= link_to('ðŸ¡ Login', new_user_session_path, class: "btn btn-outline-success") %>    
    <% end %>
</div>